node-red/flows.json
[{"id":"a061e88e.56e218","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1f42286e.bb17d8","type":"mqtt out","z":"a061e88e.56e218","name":"","topic":"googlemap/mqtt","qos":"","retain":"","broker":"c542dadb.ad8f38","x":1060,"y":620,"wires":[]},{"id":"46d84e7d.f363e","type":"mqtt in","z":"a061e88e.56e218","name":"","topic":"googlemap/mqtt","qos":"2","datatype":"json","broker":"c542dadb.ad8f38","x":120,"y":1000,"wires":[["928d7231.d7ee4","d5032aed.53f968","d159aaa5.523fa8"]]},{"id":"cdf28cee.62b02","type":"http request","z":"a061e88e.56e218","name":"Get live data","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://miapp.ca/GTFS_RT/Vehicle/VehiclePositions.pb","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":560,"wires":[["8ead5cf8.8265e"]]},{"id":"6cbf48c8.2c6a18","type":"inject","z":"a061e88e.56e218","name":"","props":[],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","x":130,"y":560,"wires":[["cdf28cee.62b02"]]},{"id":"8ead5cf8.8265e","type":"gtfs-feed","z":"a061e88e.56e218","name":"Convert feed","x":550,"y":560,"wires":[["ec4ea588.0e6b28","816b3f36.cc849","35ce096e.d39466","88bb867b.cb5998","8b662331.80118"]]},{"id":"ec4ea588.0e6b28","type":"change","z":"a061e88e.56e218","name":"Change to JSON","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.entity.vehicle","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$map(\t   msg.payload,\t   function($v, $k, $a) {\t       {\t          \"trip_id\": $v.trip.trip_id,\t           \"timestamp\": $v.timestamp,\t           \"name\": $v.vehicle.id,\t           \"label\": $v.vehicle.label,\t            \"lat\": $v.position.latitude,\t            \"lon\": $v.position.longitude,\t            \"icon\": \":bus:\"\t    \t       }\t\t   }\t)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":560,"wires":[["a41b4742.36bf58"]]},{"id":"928d7231.d7ee4","type":"worldmap","z":"a061e88e.56e218","name":"","lat":"43.59","lon":"-79.65","zoom":"13","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":300,"y":1080,"wires":[]},{"id":"a41b4742.36bf58","type":"mqtt out","z":"a061e88e.56e218","name":"","topic":"googlemap/mqtt","qos":"","retain":"","broker":"c542dadb.ad8f38","x":1060,"y":560,"wires":[]},{"id":"37f76f5f.7638a","type":"mqtt out","z":"a061e88e.56e218","name":"","topic":"googlemap/mqtt","qos":"","retain":"","broker":"c542dadb.ad8f38","x":1060,"y":680,"wires":[]},{"id":"feb4405d.f39f6","type":"mqtt out","z":"a061e88e.56e218","name":"","topic":"googlemap/mqtt","qos":"","retain":"","broker":"c542dadb.ad8f38","x":1060,"y":740,"wires":[]},{"id":"816b3f36.cc849","type":"change","z":"a061e88e.56e218","name":"Change to JSON","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.entity.vehicle","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$map(\t   msg.payload,\t   function($v, $k, $a) {\t       {\t          \"trip_id\": $v.trip.trip_id,\t           \"timestamp\": $v.timestamp,\t           \"name\": $v.vehicle.id,\t           \"label\": $v.vehicle.label,\t            \"lat\": $v.position.latitude,\t            \"lon\": $v.position.longitude,\t            \"icon\": \":bus:\"\t    \t       }\t\t   }\t)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload[4]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":800,"wires":[[]]},{"id":"4be29069.2fbf","type":"mqtt out","z":"a061e88e.56e218","name":"","topic":"googlemap/mqtt","qos":"","retain":"","broker":"c542dadb.ad8f38","x":1060,"y":800,"wires":[]},{"id":"a4ac9401.075df8","type":"mongodb3 in","z":"a061e88e.56e218","service":"_ext_","configNode":"7cb7a3f9.85a90c","name":"","collection":"bus_tracking","operation":"updateOne","x":720,"y":1000,"wires":[[]]},{"id":"d5032aed.53f968","type":"function","z":"a061e88e.56e218","name":"Update data","func":"msg.payload = [\n{\n    \"name\":msg.payload[\"name\"]\n    \n},\n{\n    $set:{\n        \"lat\":msg.payload[\"lat\"],\n        \"lon\":msg.payload[\"lon\"],\n        \"timestamp\" : msg.payload[\"timestamp\"][\"low\"]\n    }\n}\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1000,"wires":[["a4ac9401.075df8"]]},{"id":"d159aaa5.523fa8","type":"debug","z":"a061e88e.56e218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":860,"wires":[]},{"id":"35ce096e.d39466","type":"change","z":"a061e88e.56e218","name":"Change to JSON","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.entity.vehicle","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$map(\t   msg.payload,\t   function($v, $k, $a) {\t       {\t          \"trip_id\": $v.trip.trip_id,\t           \"timestamp\": $v.timestamp,\t           \"name\": $v.vehicle.id,\t           \"label\": $v.vehicle.label,\t            \"lat\": $v.position.latitude,\t            \"lon\": $v.position.longitude,\t            \"icon\": \":bus:\"\t    \t       }\t\t   }\t)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":740,"wires":[[]]},{"id":"88bb867b.cb5998","type":"change","z":"a061e88e.56e218","name":"Change to JSON","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.entity.vehicle","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$map(\t   msg.payload,\t   function($v, $k, $a) {\t       {\t          \"trip_id\": $v.trip.trip_id,\t           \"timestamp\": $v.timestamp,\t           \"name\": $v.vehicle.id,\t           \"label\": $v.vehicle.label,\t            \"lat\": $v.position.latitude,\t            \"lon\": $v.position.longitude,\t            \"icon\": \":bus:\"\t    \t       }\t\t   }\t)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":680,"wires":[[]]},{"id":"8b662331.80118","type":"change","z":"a061e88e.56e218","name":"Change to JSON","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.entity.vehicle","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$map(\t   msg.payload,\t   function($v, $k, $a) {\t       {\t          \"trip_id\": $v.trip.trip_id,\t           \"timestamp\": $v.timestamp,\t           \"name\": $v.vehicle.id,\t           \"label\": $v.vehicle.label,\t            \"lat\": $v.position.latitude,\t            \"lon\": $v.position.longitude,\t            \"icon\": \":bus:\"\t    \t       }\t\t   }\t)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":620,"wires":[[]]},{"id":"c542dadb.ad8f38","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7cb7a3f9.85a90c","type":"mongodb3","uri":"mongodb+srv://lapis:ffzgap0894990083@cluster0.3gtas.mongodb.net/scg_test?retryWrites=true&w=majority","name":"Cluster0","options":"{\"useNewUrlParser\": true}","parallelism":"-1"}]